<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read All</title>
</head>
<body>
    <h1>All Users</h1>
    <a href="/user/new">Create Account</a>
    <ul>
        {% for users in users %}
        <li>ID: {{users.id}} First Name: {{users.first_name}} Last Name: {{users.last_name}} Created At: {{users.created_at}} Updated At: {{users.updated_at}} </li>
        {% endfor %}
    </ul>
</body>
</html>